@media screen{
img{
    height: 30%;
    width: 40%;
    padding:0 10px 10px 0;
    float: left;
}
h2{
    margin: 10px;
    bottom: 15px;
    position: relative;
}
p{
    bottom: 15px;
    position: relative;
}
@media print{
    img{
        height: 200px;
        width: 300px;
        padding:0 10px 10px 0;
        float: none;
    }
}