body{
    margin: 0px;
}
@media(max-width: 750px){
    body{
        max-width: 320px;
    }
    img {
        width: 290px;
    }
    fieldset{
        width: 310px;
        margin-left: 10px;
        margin-top: 10px;
        
    }
}
@media(max-width: 1023px){
    body{
        max-width: 768px;
    }
    img {
        width: 350px;
    }
    fieldset{
        width: 365px;
        margin-left: 3px;
        margin-top: 3px;
        padding: 5px;
    }
}
@media(min-width:1023px){
    body{
        max-width: 1024px;
    }
    img {
        width: 230px;
    }
    fieldset{
        width: 240px;
        margin-left: 3px;
        margin-top: 3px;
        margin-right: 0px;
        padding: 3px;
    }
}

h1{
    text-align: center;
}
h2{
    font-size: 2em;
}
#Div_Ex{
    border: 3px solid black;
    color: blue;
}
#Main_html, #Main_CSS, #Main_Protocol{
    display: flex;
    flex-wrap: wrap;
}
span{
    color:rebeccapurple;
    border: 3px solid rgba(255, 0, 0, 0.55);
}
#red{
    color: red;
}
#Id{
    color: green;
}
#Class{
    color: blue;
}
#All{
    font-weight: bold;
}
#Background-color{
    background-color: wheat;
}
#Border-style{
    border-style: double;
}
#Border-width{
    border-style: solid;
    border-width: 6px;
}
#Border-color{
    border-style: solid;
    border-color: green;
}
#Text-align{
    text-align: end;
}
#Text-color{
    color: blueviolet;
}