.block{
    overflow: hidden;
}
input.text{
    color: green;
    padding: 0px 10px;
    width: 100%;
}
input.text:hover{
    color: red;
}
button.find{
    color: green;
    width: 50px;
    height: 2em;
    float: right;
}
button.find:hover{
    color: red;
}