#Gauntlet{
    height: 200px;
}
#Gauntlet:hover ~  table tr:nth-child(2n) td:nth-child(2n) img
{
    opacity: 0;
}
#Gauntlet:hover ~table tr:nth-child(2n+1) td:nth-child(2n+1) img
{
    opacity: 0;
}
td:nth-child(n)
{
    height: 100px;
    width: 75px;
}
img:nth-child(1)
{
    height: 100px;
}
