button {
    background-color: blue;
    color: snow;
    border-radius: 5px;
    margin: 5px;
}

.buttons {
    margin: 10px;
}

.input {
    background: gray;
    height: 200px;
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

input {
    width: 490px;
    padding: 5px;
    border-radius: 5px;
}

p {
    border-radius: 5px;
    background: white;
    padding: 5px;
    height: 1em;
}

textarea {
    width: 490px;
    height: 120px;
    border-radius: 5px;
    padding: 5px;
}

.output {
    background: gray;
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}