
body{
    margin: 0;
}
@media(max-width: 1023){
    body{
        width: 768px;
    }

}
@media(min-width: 1024){
    body{
        width: 1024px;
    }

}

/* TWO FIRST LINES*/
.OsCorp{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 10px;
    background: linear-gradient(rgb(187, 58, 58), rgb(142, 44, 44));
    height: 60px;
    color: white;
    width: 100%;
}
.OsCorp p{
    position: relative;
    bottom: 7px;
}
.OsCorp input{
    margin-left: 30px;
    position: relative;
    left: 20px;
    border: none;
    background: linear-gradient(rgba(187, 58, 58, 0), rgb(142, 44, 44, 0));
    color: white;

}

.OsCorp p{
    margin-left: 5%;
    margin-top: 30px;
}

.OsCorp input[type="text"]{
   
    text-align: center;
    border-bottom: 1px solid rgb(121, 121, 121);
}

.home_1{
    display: block;
    width: 100%;
    background-color: rgb(193, 193, 193);
    height: 28px;
    position: relative;
    bottom: 28px;
    padding-top: 7px;
    padding-left: 13px;
}

.home_1 span{
    color: rgb(123, 57, 57);
}

h1{
    position: relative;
    bottom: 30px;
    left: 30px;
    margin-bottom: 0;
}

/* CHECKBOXES */
.ul1{
    position: relative;
    bottom: 20px;
}
.box1 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
}
input[type="checkbox"]
{
    opacity: 0;
}



.box1 li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(19, 19, 19, 0.5);
    color: rgba(19, 19, 19, 0.5);
    border-radius: 40px;
    white-space: nowrap;
    margin: 1px 0px;
    font-size: 18px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

.box1  li label{
    padding: 6px 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.box1  li input[type="checkbox"]:checked + label::after{
    content: " \2713";  
    color: white;  
}

.box1  li input[type="checkbox"]:checked + label{
    background-color: rgb(44, 44, 68);
    color: white;
}

.ul1{
    margin-top: 0;
}

.ul2{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
input[type="checkbox"]
{
    opacity: 0;
}

#check_2 + label::before, #check_3 + label::before, #check_4 + label::before, #check_5 + label::before, #check_6 + label::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

 #check_2:checked + label::before, #check_3:checked + label::before, #check_4:checked + label::before, #check_5:checked + label::before, #check_6:checked + label::before{
    content: " \2713";
    text-align: center; 
    color: white;
    border-color: #34393f;
    background-color: rgb(44, 44, 68);
}

.box2_1 p{
    position: relative;
    left: 28px;
}

.box2_1{
    position: relative;
    bottom: 20px;
}

.box2_1 input{
    margin: 5px;
}

/* SLIDER */

.slider {
    -webkit-appearance: none;
    height: 1px;
    border-radius: 5px;  
    background: #3e3d3d;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #491d1d;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #491d1d;
    cursor: pointer;
  }

  .range{
    position: relative;
    left: 30px;
    bottom: 20px;
  }

  .range p span{
    position: relative;
    left: 100px;
  }

  .range .r1{
    position: relative;
    top: 10px;
  }


 /* PRODUCT LIST */

 .box3 ul{
     list-style: none;
     margin-top: 0;
 }

 .box3 img{
     width: 150px;
     height: 100px;
     border-radius: 18%;
     margin-right: 15px;
 }

 .box2{
     display: flex;
     flex-wrap: wrap;
     position: relative;
     bottom: 10px;
 }

 .box3{
     display: flex;
     flex-wrap: wrap;
     width: 700px;
     position: relative;
     padding-left: 10px;
     margin-left: 60px;

     
 }

 .box3_1{
     margin-left: 10px;
 }

 .box3 ul{
     display: flex;   
 }

 .box3_2{
     display: flex;
     flex-direction: column;
     width: 160px;
    
     
 }

 .box3_2 li:first-child{
     font-size: smaller;
 }
 
 .box3_2 li:nth-child(2){
     font-weight: bold;
 }
 .box3 .butt input[type="button"]{
    border: none;
    background: rgb(204, 204, 204);
     width: 155px;
     height: 30px;
     margin: 2.5px;
     border-radius: 5px;
     text-decoration: none;
     color: white;
}
 .box3 input[type="button"]{
     background: rgb(167, 41, 41);
     width: 155px;
     height: 30px;
     margin: 2.5px;
     border-radius: 5px;
     border: 1px solid black;
     text-decoration: none;
     color: white;
 }



.box3_2 li{
      margin-top: 5px;
}

.box3_2 #Sold, .box3_2 #Sold1{
    color: red;
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box3_1{
    padding: 0;
}


/* CARD */


.OsCorp_1{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 10px;
    background: linear-gradient(rgb(187, 58, 58), rgb(142, 44, 44));
    height: 60px;
    color: white;
    width: 100%;
}
.OsCorp_1 p{
    position: relative;
    bottom: 7px;
}
.OsCorp_1 input{
    margin-left: 30px;
    position: relative;
    left: 20px;
    border: none;
    background: linear-gradient(rgba(187, 58, 58, 0), rgb(142, 44, 44, 0));
    color: white;

}

.OsCorp_1 p{
    margin-left: 5%;
    margin-top: 30px;
}

.OsCorp_1 input[type="text"]{
   
    text-align: center;
    border-bottom: 1px solid rgb(121, 121, 121);
}

.home_2{
    display: block;
    width: 100%;
    background-color: rgb(193, 193, 193);
    height: 28px;
    position: relative;
    bottom: 28px;
    padding-top: 7px;
    padding-left: 13px;
}

.home_2 span{
    color: rgb(123, 57, 57);
}

h1 #h1{
    position: relative;
    bottom: 30px;
    left: 30px;
    margin-bottom: 0;
}


/* PRODUCT */

.Sell_1{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.Sell_3{
    display: flex;
    flex-direction: column;
}

.Sell_1 img{
    width: 400px;
    height: 300px;
    border-radius: 18%;
}

.Sell_1 input[type="button"]{
    background: rgb(167, 41, 41);
    width: 155px;
    height: 30px;
    margin: 2.5px;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    color: white;
}

.Sell_2{
    
    margin-left: 30px;
}

.Sell_3 #Price{
    font-weight: bold;
}

.Sell_2{
    display: flex;
    flex-direction: column;
}

.Sell_4 span{
    margin-left: 40px;
    margin-right: 15px;
}

.Sell_3 li{
    margin-bottom: 8px;
}

.Sell_3 #Sold{
    color: red;
}


.Sell_5{
    display: flex;
    flex-wrap: row;
    margin-top: 30px;
    background: rgb(192, 192, 192);
    border: 1px solid red;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.Sell_5 img{
    width: 40px;
    height: 40px;
}

.Sell_6{
    margin-left: 20px;
}


/* END LINE */

.Bottom_Line{

    display: flex;
    background: linear-gradient(rgb(187, 58, 58), rgb(142, 44, 44));;
    margin-top: 40px;
    color: white;
    font-size: smaller;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Bottom_Line .Bottom_Line_1{
    margin-left: 20px;
    margin-right: 500px;
}
