@font-face {
    font-family: 'myfont';
    src: url('../assets/font/font.ttf') format('truetype') /* Safari, Android, iOS */
}

#back {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 50px;
    width: auto;
}

#back:hover {
    color: rgba(250, 118, 239, 0.5);
    background: none;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.workspace {
    font-size: 20px;
    font-family: 'myfont', Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: column;
    margin: 100px auto auto auto;
    height: 1050px;
    width: 600px;
    background: none;
    box-shadow: 0 0 20px rgba(255, 77, 240, 0.5);
}

.header {
    margin: 0;
    padding: 15px;
    width: calc(100% - 30px);
    position: inherit;
    background: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
}

#input {
    font-size: 30px;
    display: flex;
    flex-flow: row-reverse;
    color: whitesmoke;
    width: calc(100% - 30px);
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background: none;
    border: none;
    text-align: right;
}

.operation {
    display: flex;
    flex-flow: row-reverse;
    color: rgba(245, 245, 245, 0.8);
}

.history {
    display: flex;
    flex-flow: column-reverse;
    height: calc(100% - 66px);
    width: 100%;
    font-size: 20px;
}

.interaction, .convert {
    padding: 15px;
    height: 100%;
    width: calc(100% - 30px);
    background: rgba(0, 0, 0, 0.9);
}

.convert[active="yes"] {
    display: block;
    color: whitesmoke;
}

.convert[active="no"] {
    display: none;
}

.conv_inp {
    margin-bottom: 15px;
    margin-top: 5px;
    background: none;
    border: 1px solid rgba(245, 245, 245, 0.5);
    border-radius: 2px;
    color: whitesmoke;
    outline: none;
    padding: 5px;
}

button {
    outline: none;
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
    height: 80px;
    width: 100%;
    border: none;
    background: none;
    font-family: 'myfont', Verdana, Geneva, Tahoma, sans-serif;
}

button:disabled {
    color: rgba(245, 245, 245, 0.276);
}

#equal {
    font-size: 40px;
    color: whitesmoke;
}

#equal:disabled {
    font-size: 40px;
    color: rgba(245, 245, 245, 0.276);
}

button:hover {
    background: rgba(46, 4, 46, 0.9);
}

button:active, button:checked {
    box-shadow: none;
}

.button-line {
    display: flex;
    flex-flow: row;
    background: rgba(0, 0, 0, 0.9);
}

#C {
    color: rgb(240, 13, 221);
    font-size: 35px;
    font-weight: bold;
}
#C:disabled {
    color: rgba(245, 245, 245, 0.276);
    font-size: 25px;
    font-weight: bold;
}



#result {
    width: calc(100% - 30px);
    padding: 15px;
    font-size: 20px;
    background: rgb(131, 142, 121);
}

.interaction {
    padding: 15px;
    height: 100%;
    width: calc(100% - 30px);
    background: rgba(0, 0, 0, 0.9);
}

#in-out {
    display: flex;
    flex-flow: column;
    position: inherit;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background: rgba(46, 4, 46, 0.6);
    background-image: url("../assets/images/in-out.png");
    background-size: 100% 100%;
}

#clear_history {
    position: inherit;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
    color: rgba(245, 245, 245, 0.9);
}

#clear_history:hover {
    background: none;
}
